<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>hellow orld this is login page</h1>
    <ul>
        <li><a href="/auth/logout">logout</a></li>
        <li><a href="/auth/login">login</a></li>
        <li><a href="/">homepage</a></li>
    </ul>
    <div>
            <a href="/auth/google">Google++</a>
    </div>
</body>
</html>