@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
body{
    background: #c31432;  
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  
    background: linear-gradient(to right, #240b36, #c31432); 
}
.heading {
   font-family:  'ZCOOL KuaiLe', cursive;
   color: aliceblue;
   text-align: center;
   padding: 10px;
   margin-top: 100px;
   font-size: 40px;
}

.btn{
    margin-top: 20px;
}
@media(max-width:500px){
    #textarea_1 {
          width: 50px;
    }
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,160%)

}
.box select {
    background: #0563af;
    color: #ffffff;
    padding: 10px;
    width: 250px;
    height: 50px;
    border: node;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
    -webkit-appearance: button;
    outline: none;
}
.box:before{
content: '\f358';
font-family: "Font Awesome 5 Free";
position: absolute;
top:0;
right: 0;
width: 50px;
height: 50px;
text-align: center;
line-height: 50px;
color: aliceblue;
font-size: 28px;
background: #007ce0;
pointer-events: none; 
}
.box:hover:before{
    background: #472caa;
}